<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Clientes</title>
</head>
<body>
    <h1>Listado de Clientes</h1>
    
    <form th:action="@{'/cliente/registro'}" method="get">
        <button type="submit">Registrar Cliente</button>
        <br />
        <br />
        
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dirección</th>
           	<th>Correo</th>
            <th>Teléfono</th>
        </tr>
        <tr th:each="cliente : ${clientes}">
            <td th:text="${cliente.idCli}"></td>
            <td th:text="${cliente.dni}"></td>
            <td th:text="${cliente.nombre}"></td>
            <td th:text="${cliente.apellido}"></td>
            <td th:text="${cliente.direccion}"></td>
            <td th:text="${cliente.correo}"></td>
            <td th:text="${cliente.telefono}"></td>
            <td>
				<form th:action="@{'/cliente/obtener/' + ${cliente.idCli}}" method="get">
    			<input type="hidden" name="idCli" th:value="${cliente.idCli}" />
    			<button type="submit">Actualizar</button>
				</form>
		
                <form th:action="@{'/cliente/eliminar/' + ${cliente.idCli}}" method="post">
                    <input type="hidden" name="idCli" th:value="${cliente.idCli}" />
                    <button type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>